.form {
  max-width: 980px;
  border: 1px solid #000;
}

.form fieldset {
  border: none;
  padding-top: 30px;
}

.form__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  position: relative;
}

.form__input-wrapper {
  display: flex;
  flex: 1;
}

.form__label {
  display: none;
  font-size: 14px;
  position: absolute;
  top: -23px;
  left: 0;
  padding: 5px;
  width: 100%;
}

.form .show-label {
  background: #efefef;
  color: #f00;
}

.form .show-label span.ok {
  position: relative;
}

.form .show-label span.ok:after {
  content: 'ok';
  position: absolute;
  right: -30px;
}

.form .active-input {
  background: #efefef;
  border-color: #f00 !important;
}

.form__input {
  outline: 0;
}

.form__input-wrapper .form__input--text {
  border: 0 none;
  border-bottom: 1px solid #999;
  padding: 5px;
  width: 100%;
}

.form__input-wrapper .form__input--text:valid {
  border-color: transparent;
}

.form__hint-text {
  display: none;
  font-size: 12px;
  font-style: normal;
  padding-left: 20px;
}

* {
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
