.form__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

@media screen and (min-width: 600px) {
  .form__group {
    align-items: center;
    flex-direction: row;
  }
}

@media screen and (min-width: 600px) {
  .form__label {
    flex-basis: 25%;
    padding-right: 20px;
    text-align: right;
  }
}

.form__label__required-field {
  position: relative;
}

.form__label__required-field__text {
  display: inline-block;
  text-align: left;
  text-indent: -999em;
}

.form__label__required-field__text:after {
  content: "*";
  left: -2px;
  position: absolute;
  text-indent: 0;
  top: 0;
}

@media screen and (min-width: 600px) {
  .form__input-wrapper {
    flex-basis: 60%;
  }
}

@media screen and (min-width: 768px) {
  .form__input-wrapper {
    flex-basis: 50%;
  }
}

.form__input--text {
  width: 99%;
}
