.form {
    max-width: 980px;
    border: 1px solid #000;
    fieldset {
        border: none;
        padding-top: 30px;
    }
    &__group {
        display: flex;
        flex-direction: column;
        margin-bottom: 32px;
        position: relative;
    }
    &__input-wrapper {
        // display: flex;
        // flex: 1;
    }
    &__label {
        display: none; 
        font-size: 14px;
        position: absolute;
        top: -23px;
        left: 0;
        padding: 5px;
        width: 100%;
        


    }
    .show-label {
        // display: block;
        background: #efefef;
        color: #f00;
        span.ok {
            position: relative;
            &:after {
                content: 'ok';
                position: absolute;
                right: -30px;
            }
        }
       
    }
    .active-input {
        background: #efefef;
        border-color: #f00 !important;
    }
    &__input {
        outline: 0;
        .form__input-wrapper & {
            &--text {
                border: 0 none;
                border-bottom: 1px solid #999;
                padding: 5px;
                width: 100%;

                &:valid {
                    border-color: transparent;
                }
            }
        }
    }
    &__hint-text {
        display: none;
        font-size: 12px;
        font-style: normal;
        padding-left: 20px;
    }
}